@import "tailwindcss";

@theme {
  --color-primary: #795900;
  --color-primary-container: #f5b800;
  --color-on-primary: #ffffff;
  --color-on-primary-fixed: #261a00;
  --color-secondary: #5e5e5e;
  --color-on-background: #1b1c1c;
  --color-outline: #827660;
  --color-outline-variant: #d4c5ac;
  --color-surface: #fbf9f9;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f5f3f3;
  --color-surface-container: #efeded;
  --color-surface-container-high: #e9e8e7;
  --color-surface-container-highest: #e3e2e2;
  --color-surface-variant: #e3e2e2;
  --color-on-surface: #1b1c1c;
  --color-on-surface-variant: #4f4632;
  
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background: #fbf9f9;
  --foreground: #1b1c1c;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headline);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
